

    $backgroundLightGreen: #EBECDF;
    $backgroundLightBlue: #DFEBEC;
    $purpleColor: #73596F;
    $textColor: #001F2E;
    
    $titles: #414141;
    $subTitleAndResume:#005266;


    $buttonColor: #003744;
    $whiteColor: #FFFFFF;
    $blackColor: #000000;

    $algreya: 'Alegreya Sans', sans-serif;
    $playFair: 'Playfair Display', serif;


    h1, h2 {
        font-family: $playFair;
    }

    i, button, a {
        cursor: pointer;
    }



    .container {
        height: 100vh;
        width: 100%;
        padding: 0.575em 1.075em 0;
      }
    /*Navigation start*/
.navigation {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.5s ease-in-out;
    background-color: $backgroundLightBlue;
  
    .links {
      padding-top: 4em;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6.5em;
    }
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
  
    li {
      margin: auto;
      text-align: center;
  
      a {
        text-decoration: none;
        font-family: $algreya;
        font-weight: 400;
        font-size: 2em;
        color: $buttonColor;
        position: relative;
      }
    }
  }
  
  nav li a::after {
    content: "";
    height: 4px;
    right: 0;
    bottom: -5px;
    width: 0%;
    background-color: $buttonColor;
    position: absolute;
    transition: 0.5s ease-in-out;
  }
  
  nav li a:hover::after {
    width: 100%;
    right: auto;
    left: 0;
  }
  
  .res {
    button {
      padding: 0.7em 2em;
      font-size: 1.5em;
      border: none;
      outline: none;
      background-color: $subTitleAndResume;
      color: $backgroundLightGreen;
  
      &:hover {
        font-weight: 600;
      }
    }
  
    i {
      font-size: 2em;
      position: absolute;
      top: 0.5em;
      left: 0.5em;
    }
  }
  
  .socials {
    display: flex;
    gap: 1em;
    a {
      i {
        font-size: 2.5em;
        color: $buttonColor;
  
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
  
  .open {
    font-size: 1.7em;
  }
  
  .close {
    position: absolute;
    top: 0.5em;
    right: 0.6em;
    font-size: 2em;
  }
  
  /*Navigation end*/
  