

    $backgroundLightGreen: #EBECDF;
    $backgroundLightBlue: #DFEBEC;
    $purpleColor: #73596F;
    $textColor: #001F2E;
    
    $titles: #414141;
    $subTitleAndResume:#005266;


    $buttonColor: #003744;
    $whiteColor: #FFFFFF;
    $blackColor: #000000;

    $algreya: 'Alegreya Sans', sans-serif;
    $playFair: 'Playfair Display', serif;


    h1, h2 {
        font-family: $playFair;
    }

    i, button, a {
        cursor: pointer;
    }